NODE_ENV=development
PORT=3006
NOTIFICATION_RABBITMQ_URL=amqp://localhost:5672
NOTIFICATION_GRADE_COMPLETED_EXCHANGE=lms.events
NOTIFICATION_GRADE_COMPLETED_QUEUE=notification.grade-completed.v1
OTEL_SDK_DISABLED=false
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
OTEL_SERVICE_VERSION=0.1.0
OTEL_SERVICE_INSTANCE_ID=notification-local-1
