COMPOSE_PROJECT_NAME=aiops-lms

COURSE_PORT=3002

POSTGRES_PORT=5432
POSTGRES_DB=course_db
POSTGRES_USER=lms
POSTGRES_PASSWORD=lms-local-only

REDIS_PORT=6379

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=lms
RABBITMQ_DEFAULT_PASS=lms-local-only
