NODE_ENV=development
PORT=3004
SUBMISSION_DATABASE_URL=postgresql://localhost:5432/submission_db
SUBMISSION_COURSE_BASE_URL=http://localhost:3002
SUBMISSION_ENROLLMENT_BASE_URL=http://localhost:3003
SUBMISSION_STORAGE_BASE_URL=http://localhost:3005
SUBMISSION_DEPENDENCY_TIMEOUT_MS=3000
OTEL_SDK_DISABLED=false
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
OTEL_SERVICE_VERSION=0.1.0
OTEL_SERVICE_INSTANCE_ID=submission-local-1
